
@{
    ViewData["Title"] = "Trang chủ Admin";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Doanh Thu & Doanh Số Bán Hàng Bắt Đầu -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-6 col-xl-3">
            <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-line fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Doanh Thu Hôm Nay</p>
                    <h6 class="mb-0">$1234</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-bar fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Tổng Doanh Thu</p>
                    <h6 class="mb-0">$1234</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-area fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Doanh Thu Hôm Nay</p>
                    <h6 class="mb-0">$1234</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-pie fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Tổng Doanh Thu</p>
                    <h6 class="mb-0">$1234</h6>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Doanh Thu & Doanh Số Bán Hàng Kết Thúc -->
<!-- Biểu Đồ Doanh Thu Bắt Đầu -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-6">
            <div class="bg-secondary text-center rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h6 class="mb-0">Doanh Thu Toàn Cầu</h6>
                    <a href="">Xem Tất Cả</a>
                </div>
                <canvas id="worldwide-sales"></canvas>
            </div>
        </div>
        <div class="col-sm-12 col-xl-6">
            <div class="bg-secondary text-center rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h6 class="mb-0">Doanh Số & Doanh Thu</h6>
                    <a href="">Xem Tất Cả</a>
                </div>
                <canvas id="salse-revenue"></canvas>
            </div>
        </div>
    </div>
</div>
<!-- Biểu Đồ Doanh Thu Kết Thúc -->
<!-- Doanh Thu Gần Đây Bắt Đầu -->
<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Doanh Thu Gần Đây</h6>
            <a href="">Xem Tất Cả</a>
        </div>
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr class="text-white">
                        <th scope="col"><input class="form-check-input" type="checkbox"></th>
                        <th scope="col">Ngày</th>
                        <th scope="col">Hóa Đơn</th>
                        <th scope="col">Khách Hàng</th>
                        <th scope="col">Số Tiền</th>
                        <th scope="col">Trạng Thái</th>
                        <th scope="col">Hành Động</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input class="form-check-input" type="checkbox"></td>
                        <td>01 Jan 2045</td>
                        <td>INV-0123</td>
                        <td>Jhon Doe</td>
                        <td>$123</td>
                        <td>Đã Thanh Toán</td>
                        <td><a class="btn btn-sm btn-primary" href="">Chi Tiết</a></td>
                    </tr>
                    <tr>
                        <td><input class="form-check-input" type="checkbox"></td>
                        <td>01 Jan 2045</td>
                        <td>INV-0123</td>
                        <td>Jhon Doe</td>
                        <td>$123</td>
                        <td>Đã Thanh Toán</td>
                        <td><a class="btn btn-sm btn-primary" href="">Chi Tiết</a></td>
                    </tr>
                    <tr>
                        <td><input class="form-check-input" type="checkbox"></td>
                        <td>01 Jan 2045</td>
                        <td>INV-0123</td>
                        <td>Jhon Doe</td>
                        <td>$123</td>
                        <td>Đã Thanh Toán</td>
                        <td><a class="btn btn-sm btn-primary" href="">Chi Tiết</a></td>
                    </tr>
                    <tr>
                        <td><input class="form-check-input" type="checkbox"></td>
                        <td>01 Jan 2045</td>
                        <td>INV-0123</td>
                        <td>Jhon Doe</td>
                        <td>$123</td>
                        <td>Đã Thanh Toán</td>
                        <td><a class="btn btn-sm btn-primary" href="">Chi Tiết</a></td>
                    </tr>
                    <tr>
                        <td><input class="form-check-input" type="checkbox"></td>
                        <td>01 Jan 2045</td>
                        <td>INV-0123</td>
                        <td>Jhon Doe</td>
                        <td>$123</td>
                        <td>Đã Thanh Toán</td>
                        <td><a class="btn btn-sm btn-primary" href="">Chi Tiết</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Doanh Thu Gần Đây Kết Thúc -->
<!-- Tiện Ích Bắt Đầu -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-md-6 col-xl-4">
            <div class="h-100 bg-secondary rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-2">
                    <h6 class="mb-0">Tin Nhắn</h6>
                    <a href="">Xem Tất Cả</a>
                </div>
                <div class="d-flex align-items-center border-bottom py-3">
                    <img class="rounded-circle flex-shrink-0" src="~/Admin/img/user.jpg" alt="" style="width: 40px; height: 40px;">
                    <div class="w-100 ms-3">
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-0">Jhon Doe</h6>
                            <small>15 phút trước</small>
                        </div>
                        <span>Tin nhắn ngắn ở đây...</span>
                    </div>
                </div>
                <div class="d-flex align-items-center border-bottom py-3">
                    <img class="rounded-circle flex-shrink-0" src="~/Admin/img/user.jpg" alt="" style="width: 40px; height: 40px;">
                    <div class="w-100 ms-3">
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-0">Jhon Doe</h6>
                            <small>15 phút trước</small>
                        </div>
                        <span>Tin nhắn ngắn ở đây...</span>
                    </div>
                </div>
                <div class="d-flex align-items-center border-bottom py-3">
                    <img class="rounded-circle flex-shrink-0" src="~/Admin/img/user.jpg" alt="" style="width: 40px; height: 40px;">
                    <div class="w-100 ms-3">
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-0">Jhon Doe</h6>
                            <small>15 phút trước</small>
                        </div>
                        <span>Tin nhắn ngắn ở đây...</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-xl-4">
            <div class="h-100 bg-secondary rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-2">
                    <h6 class="mb-0">Thông Báo</h6>
                    <a href="">Xem Tất Cả</a>
                </div>
                <div class="d-flex align-items-center border-bottom py-3">
                    <img class="rounded-circle flex-shrink-0" src="~/Admin/img/user.jpg" alt="" style="width: 40px; height: 40px;">
                    <div class="w-100 ms-3">
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-0">Jhon Doe</h6>
                            <small>15 phút trước</small>
                        </div>
                        <span>Thông báo ngắn ở đây...</span>
                    </div>
                </div>
                <div class="d-flex align-items-center border-bottom py-3">
                    <img class="rounded-circle flex-shrink-0" src="~/Admin/img/user.jpg" alt="" style="width: 40px; height: 40px;">
                    <div class="w-100 ms-3">
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-0">Jhon Doe</h6>
                            <small>15 phút trước</small>
                        </div>
                        <span>Thông báo ngắn ở đây...</span>
                    </div>
                </div>
                <div class="d-flex align-items-center border-bottom py-3">
                    <img class="rounded-circle flex-shrink-0" src="~/Admin/img/user.jpg" alt="" style="width: 40px; height: 40px;">
                    <div class="w-100 ms-3">
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-0">Jhon Doe</h6>
                            <small>15 phút trước</small>
                        </div>
                        <span>Thông báo ngắn ở đây...</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-xl-4">
            <div class="h-100 bg-secondary rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-2">
                    <h6 class="mb-0">Thống Kê Hệ Thống</h6>
                    <a href="">Xem Tất Cả</a>
                </div>
                <div class="d-flex align-items-center border-bottom py-3">
                    <i class="fa fa-check-circle fa-2x text-primary"></i>
                    <div class="w-100 ms-3">
                        <h6 class="mb-0">Hoạt Động</h6>
                        <small>Hệ thống đang hoạt động bình thường</small>
                    </div>
                </div>
                <div class="d-flex align-items-center border-bottom py-3">
                    <i class="fa fa-times-circle fa-2x text-danger"></i>
                    <div class="w-100 ms-3">
                        <h6 class="mb-0">Lỗi</h6>
                        <small>Hệ thống gặp sự cố</small>
                    </div>
                </div>
                <div class="d-flex align-items-center border-bottom py-3">
                    <i class="fa fa-check-circle fa-2x text-primary"></i>
                    <div class="w-100 ms-3">
                        <h6 class="mb-0">Hoạt Động</h6>
                        <small>Hệ thống đang hoạt động bình thường</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>