@model WebBanGiay.Models.SanPhamModel

@{
    ViewData["Title"] = "Sửa sản phẩm Admin";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header text-white" style="background-color: #eb1515; border-radius: 5px 5px 0px 0px;">
                    <h4 class="card-title mb-0">Thông tin sản phẩm</h4>
                </div>
                <div class="card-body">
                    <form asp-action="SuaSanPham" method="post" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="ID_SAN_PHAM" />
                        
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label asp-for="TEN_SAN_PHAM" class="control-label">Tên sản phẩm</label>
                                    <input asp-for="TEN_SAN_PHAM" class="form-control" style="background-color: #fff; color: #000"  />
                                    <span asp-validation-for="TEN_SAN_PHAM" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="ID_LOAI" class="control-label">Loại sản phẩm</label>
                                    <select asp-for="ID_LOAI" class="form-control" asp-items="ViewBag.Loais"></select>
                                    <span asp-validation-for="ID_LOAI" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="ID_KICH_THUOC" class="control-label">TKích Thước</label>
                                    <select asp-for="ID_KICH_THUOC" class="form-control" asp-items="ViewBag.KichThuocs"></select>
                                    <span asp-validation-for="ID_KICH_THUOC" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label for="colors">Chọn màu:</label>
                                    <div>
                                        @foreach (var color in ViewBag.Maus)
                                        {
                                            <div class="form-check">
                                                <input style="background-color: #eb1515; color: #000" type="checkbox" class="form-check-input" id="color_@color.ID_MAU" name="selectedColors" value="@color.ID_MAU" @(ViewBag.SelectedColors.Contains(color.ID_MAU) ? "checked" : "") />
                                                <label class="form-check-label" for="color_@color.ID_MAU">@color.TEN_MAU</label>
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="SO_LUONG" class="control-label">Số lượng</label>
                                    <input asp-for="SO_LUONG" class="form-control" style="background-color: #fff; color: #000"  />
                                    <span asp-validation-for="SO_LUONG" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="GIA_BAN" class="control-label">Giá bán</label>
                                    <input asp-for="GIA_BAN" class="form-control" style="background-color: #fff; color: #000"  />
                                    <span asp-validation-for="GIA_BAN" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="GIA_NHAP" class="control-label">Giá nhập</label>
                                    <input asp-for="GIA_NHAP" class="form-control" style="background-color: #fff; color: #000" />
                                    <span asp-validation-for="GIA_NHAP" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="CHAT_LIEU" class="control-label">Chất liệu</label>
                                    <input asp-for="CHAT_LIEU" class="form-control" style="background-color: #fff; color: #000" />
                                    <span asp-validation-for="CHAT_LIEU" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="MO_TA" class="control-label">Mô tả</label>
                                    <textarea asp-for="MO_TA" class="form-control" style="background-color: #fff; color: #000"></textarea>
                                    <span asp-validation-for="MO_TA" class="text-danger"></span>
                                </div>


                                <div class="form-group">
                                    <label asp-for="HinhAnhTaiLen" class="control-label">Hình ảnh</label>
                                    <input asp-for="HinhAnhTaiLen" type="file" multiple class="form-control" />
                                    <span asp-validation-for="HinhAnhTaiLen" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">Chọn hình ảnh cần xóa:</label>
                                    @foreach (var image in Model.HINH_ANH)
                                    {
                                        var imageName = image.TEN_HINH_ANH;
                                        var truncatedName = imageName.Length > 20 ? imageName.Substring(0, 20) + "..." : imageName;
                                        <div class="form-check mb-2">
                                            <input class="form-check-input" type="checkbox" name="selectedImages" value="@image.ID_HINH_ANH" />
                                            <label class="form-check-label">
                                                <div class=" d-flex align-items-center">
                                                    <img src="~/media/SanPham/@image.TEN_HINH_ANH" width="50" height="50" class="mr-2" />

                                                </div>
                                            </label>
                                        </div>
                                    }
                                </div>
                                <hr/>
                                <div class="form-group">
                                    <input style="background-color: #eb1515" type="submit" value="Lưu" class="btn btn-primary form-control" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <br /><br /><br />
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}