@model WebBanGiay.Models.ErrorViewModel

@{
    ViewBag.Title = "Lỗi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />




    <div class="error-container text-center">
        <h1 style="padding: 100px 0px 0px 0px" class="display-4">Có lỗi xảy ra!</h1>
        <p class="lead">Xin lỗi, chúng tôi gặp phải một sự cố trong khi xử lý yêu cầu của bạn.</p>


        <a class="btn btn-primary" href="/">Trở về trang chủ</a>
    </div>

