@model WebBanGiay.Models.NguoiDungModel

@{
    ViewBag.Title = "Đăng Nhập";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
   
    .input-group-text {
        cursor: pointer;
        background-color: transparent;
        height: 37px;
        background-color: #e9ecf0;
    }

        .input-group-text .fa-eye,
        .input-group-text .fa-eye-slash {
            color: #333;
            font-size: 18px;
            transition: color 0.3s;
        }
    .form-control {
        margin-bottom: 10px;
    }

    .login-container {
        max-width: 600px;
        margin: 50px auto;
        padding: 20px;
        background: #fff;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    .text-danger {
        color: #dc3545 !important;
    }

    .btn-den {
        background-color: #fcf000;
        border-color: #fcf000;
        color: #000;
        font-weight: bold;
        width: 100%;
        margin-top: 5px ;
        margin-bottom: 20px;
    }

        .btn-den:hover {
            background-color: #000;
            border-color: #000;
            color: #fcf000;
            font-weight: bold;
        }

    .form-title {
        font-family: 'Poppins', sans-serif;
        font-size: 24px;
        font-weight: 600;
        color: #333;
        text-align: center;
        margin-bottom: 20px;
    }
</style>


<div class="row">
    <div class="col-md-12">
        <div class="login-container" style="margin-top: 100px">
            <div class="login-form">
                <h3 class="text-center">Đăng nhập vào TeamDev !!</h3>
                <p class="text-center">Xin mời bạn nhập đầy đủ thông tin đăng nhập</p>



                <form asp-action="DangNhap" method="post" class="form" id="loginForm">
                    <div asp-validation-summary="All" class="text-danger"></div>

                    <div class="form-group">
                        <label for="TAI_KHOAN" class="control-label">Tên tài khoản</label>
                        <input id="TAI_KHOAN" asp-for="TAI_KHOAN" name="TAI_KHOAN" class="form-control" type="text" placeholder="Vui lòng nhập tài khoản hoặc email" required />
                        <span asp-validation-for="TAI_KHOAN" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label for="MAT_KHAU" class="control-label">Mật khẩu</label>
                        <div class="input-group">
                            <input id="MAT_KHAU" asp-for="MAT_KHAU" name="MAT_KHAU" class="form-control" type="password" placeholder="Vui lòng nhập mật khẩu" required />
                            <div class="input-group-append">
                                <span class="input-group-text" id="togglePassword">
                                    <i class="fas fa-eye"></i>
                                </span>
                            </div>
                        </div>
                        <span asp-validation-for="MAT_KHAU" class="text-danger"></span>
                    </div>

                    <div class="form-check form-check-sm mb-3">
                        <input type="checkbox" class="form-check-input" id="remember" name="remember">
                        <label class="form-check-label text-muted fs-7" for="remember">Ghi nhớ tài khoản.</label>
                    </div>

                  

                    <div >
                        <button type="submit" class="btn btn-den btn-block">ĐĂNG NHẬP</button>
                    </div>

                    <a asp-controller="NguoiDung" asp-action="GoogleLogin" class="btn btn-den btn-block btn-danger">Đăng nhập bằng Google</a>

                    <br /><br />
                </form>

                <p>
                    Bạn chưa có tài khoản?
                    <a asp-action="DangKy" asp-controller="NguoiDung" class="text-warning" style="margin-left: 8px">Đăng ký</a>

                    <a asp-action="QuenMatKhau" asp-controller="NguoiDung" class="text-warning" style="margin-left: 190px">Quên mật khẩu?</a>
                </p>
            </div>
        </div>
    </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', function () {

        const rememberedUsername = localStorage.getItem('rememberedUsername');
        const rememberedPassword = localStorage.getItem('rememberedPassword');
        const rememberMeChecked = localStorage.getItem('rememberMeChecked') === 'true';

        if (rememberedUsername) {
            document.getElementById('TAI_KHOAN').value = rememberedUsername;
        }
        if (rememberedPassword) {
            document.getElementById('MAT_KHAU').value = rememberedPassword;
        }
        if (rememberMeChecked) {
            document.getElementById('remember').checked = true;
        }
    });

    document.getElementById('togglePassword').addEventListener('click', function (e) {
        const passwordInput = document.getElementById('MAT_KHAU');
        const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
        passwordInput.setAttribute('type', type);

        this.querySelector('i').classList.toggle('fa-eye-slash');
    });

    document.getElementById('loginForm').addEventListener('submit', function () {
        const rememberMe = document.getElementById('remember').checked;
        const username = document.getElementById('TAI_KHOAN').value;
        const password = document.getElementById('MAT_KHAU').value;

        if (rememberMe) {
            localStorage.setItem('rememberedUsername', username);
            localStorage.setItem('rememberedPassword', password);
            localStorage.setItem('rememberMeChecked', true);
        } else {
            localStorage.removeItem('rememberedUsername');
            localStorage.removeItem('rememberedPassword');
            localStorage.setItem('rememberMeChecked', false);
        }
    });
</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
