<!-- Bắt Đầu Footer -->
<div class="container-fluid footer py-5 wow fadeIn" data-wow-delay=".3s">
    <div class="container py-5">
        <div class="row g-4 footer-inner">
            <div class="col-lg-3 col-md-6">
                <div class="footer-item">
                    <h4 class="text-white fw-bold mb-4">Về chúng tôi</h4>
                    <p>Shop của chúng tôi cam kết cung cấp dịch vụ tốt nhất và luôn cập nhật các mẫu mới nhất của Nike để đáp ứng xu hướng thời trang và nhu cầu sử dụng. Tại đây, bạn sẽ luôn tìm thấy đôi giày phù hợp với phong cách và mục đích của mình.</p>
                    
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-item">
                    <h4 class="text-white fw-bold mb-4">Liên kết hữu ích</h4>
                    <div class="d-flex flex-column align-items-start">
                        <a class="btn btn-link ps-0" asp-controller="Home" asp-action="Index"><i class="fa fa-check me-2"></i>Trang chủ</a>
                        <a class="btn btn-link ps-0" asp-controller="CuaHang" asp-action="Index"><i class="fa fa-check me-2"></i>Cửa hàng</a>
                        <a class="btn btn-link ps-0" asp-controller="GioiThieu" asp-action="Index"><i class="fa fa-check me-2"></i>Giới thiệu</a>
                        <a class="btn btn-link ps-0" asp-controller="LienHe" asp-action="Index"><i class="fa fa-check me-2"></i>Liên Hệ</a>
                        
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-item">
                    <h4 class="text-white fw-bold mb-4">Dịch vụ liên quan</h4>
                    <div class="d-flex flex-column align-items-start">
                        <a class="btn btn-link ps-0" href=""><i class="fa fa-check me-2"></i>Giày thể thao</a>
                        <a class="btn btn-link ps-0" href=""><i class="fa fa-check me-2"></i>Giày leo núi</a>
                        <a class="btn btn-link ps-0" href=""><i class="fa fa-check me-2"></i>Giày hiệu cao cấp</a>
                        <a class="btn btn-link ps-0" href=""><i class="fa fa-check me-2"></i>Mẫu giày mới nhất</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-item">
                    <h4 class="text-white fw-bold mb-4">Liên hệ</h4>
                    <a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12210.24681885916!2d108.075659!3d12.7105609!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3171f7b6e379b675%3A0x72662967145555c0!2zVHJ1b25nIENhb8OqIGRhw7MgcG9seXRlY2huaWM!5e0!3m2!1svi!2s!4v1698473155913!5m2!1svi!2s" class="btn btn-link w-100 text-start ps-0 pb-3 border-bottom rounded-0"><i class="fa fa-map-marker-alt me-3"></i>100, Hà Huy Tập, TP Buôn Ma Thuột</a>
                    <a href="tel:+84383777823" class="btn btn-link w-100 text-start ps-0 py-3 border-bottom rounded-0"><i class="fa fa-phone-alt me-3"></i>0383 777 823</a>
                    <a href="mailto:nguyenhuythien9a1@gmail.com" class="btn btn-link w-100 text-start ps-0 py-3 border-bottom rounded-0"><i class="fa fa-envelope me-3"></i>TeamDevHT@gmail.com</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Kết Thúc Footer -->
<!-- Bắt Đầu Bản Quyền -->
<div class="container-fluid copyright bg-dark py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center text-md-start mb-3 mb-md-0">
                <a asp-controller="Home" asp-action="Index" class="text-primary mb-0 display-6">Team<span class="text-white">Dev</span><i class="fa fa-spider text-primary ms-2"></i></a>
            </div>
            <div class="col-md-4 copyright-btn text-center text-md-start mb-3 mb-md-0 flex-shrink-0">
                <a class="btn btn-primary rounded-circle me-3" href="https://www.x.com/nguyenthienmmo"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-primary rounded-circle me-3" href="https://www.facebook.com/1455185131"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-primary rounded-circle me-3" href="https://www.youtube.com/NguyenThienFPT"><i class="fab fa-youtube"></i></a>
                <a class="btn btn-primary rounded-circle me-3" href="https://www.linkedin.com/in/thi%C3%AAn-nguy%E1%BB%85n-huy-8806a9329/"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <div class="col-md-4 my-auto text-center text-md-end text-white">
                Thiết kế bởi <a class="border-bottom" href="https://localhost:7292">TeamDev</a><br>Phân phối bởi <a class="border-bottom" href="https://localhost:7292">TeamDev</a>
            </div>
        </div>
    </div>
</div>
<!-- Kết Thúc Bản Quyền -->
<!-- Nút Quay Lại Đầu Trang -->
<a href="#" class="btn btn-primary rounded-circle border-3 back-to-top"><i class="fa fa-arrow-up"></i></a>
