@model IEnumerable<SanPhamModel>
@{
    ViewData["Title"] = "Trang Chủ";
    var culture = System.Globalization.CultureInfo.InvariantCulture;
}



<style>
    .hero-area {
        position: relative;
    }


        .hero-area .carousel-caption {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            color: white;
            text-align: center;
            background: rgba(0, 0, 0, 0.5); /* Optional: for better readability */
            padding: 20px;
            border-radius: 10px;
            z-index: 10;
        }

        .hero-area .hero-text .subtitle {
            font-size: 1.5rem;
            margin-bottom: 10px;
        }

        .hero-area .hero-text h1 {
            font-size: 2rem;
            margin-bottom: 20px;
        }

        .hero-area .hero-btns {
            margin-top: 20px;
        }

    /* Adjust carousel control buttons */
    .carousel-control-prev, .carousel-control-next {
        z-index: 20; /* Higher z-index than captions to ensure they are on top */
    }


    .product-price {
        font-size: 22px !important;
    }




    .single-product-item {
        margin-bottom: 35px;
        height: 500px;
    }

        .single-product-item img {
            border-radius: 5px;
            height: 269px;
            padding-top: 5px;
            padding-bottom: 8px;
        }

        /* Hiệu ứng hover cho hình ảnh sản phẩm */
        .single-product-item img {
            transition: transform 0.4s ease, box-shadow 0.4s ease, filter 0.4s ease;
            border-radius: 15px; /* Làm cho hình ảnh có góc bo tròn */
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Bóng mờ cơ bản */
        }

            .single-product-item img:hover {
                transform: scale(1.1) rotate(3deg); /* Phóng to và xoay nhẹ hình ảnh khi hover */
                box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3); /* Tăng bóng mờ khi hover */
                filter: brightness(1.3) contrast(1.2); /* Tăng độ sáng và độ tương phản khi hover */
            }

        /* Hiệu ứng hover cho tiêu đề sản phẩm */
        .single-product-item h3 {
            position: relative;
            transition: color 0.4s ease, text-shadow 0.4s ease;
            font-weight: bold;
        }

            .single-product-item h3::after {
                content: '';
                position: absolute;
                bottom: -5px;
                left: 0;
                width: 0;
                height: 2px;
                background: #4682B4; /* Đường gạch chân màu xanh dương */
                transition: width 0.4s ease; /* Hiệu ứng mở rộng khi hover */
            }

            .single-product-item h3:hover::after {
                width: 100%; /* Mở rộng đường gạch chân khi hover */
            }

            .single-product-item h3:hover {
                color: #4682B4; /* Đổi màu tiêu đề khi hover */
                text-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Thêm hiệu ứng bóng mờ cho tiêu đề */
            }

    /* Hiệu ứng hover cho nút thêm vào giỏ hàng */
    .cart-btn {
        display: inline-block;
        padding: 12px 24px;
        border-radius: 30px; /* Góc bo tròn nút */
        text-decoration: none;
        text-transform: uppercase; /* Viết hoa chữ cái trong nút */
        font-weight: bold;
        position: relative;
        overflow: hidden;
        transition: background 0.4s ease, transform 0.4s ease, box-shadow 0.4s ease;
        background-color: #fcf000 !important;
        color: #000 !important;

    }

        .cart-btn::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 300%;
            height: 300%;
            background: rgba(255, 255, 255, 0.1); /* Gradient sáng */
            border-radius: 50%;
            transform: translate(-50%, -50%) scale(0);
            transition: transform 0.4s ease;
        }

        .cart-btn:hover::before {
            transform: translate(-50%, -50%) scale(1); /* Mở rộng gradient sáng khi hover */
        }

        .cart-btn:hover {
            background-color: #000 !important;
            color: #fcf000 !important;
            transform: scale(1.1); /* Phóng to nút khi hover */
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4); /* Thêm bóng mờ khi hover */
        }

    /* Hiệu ứng hover cho các liên kết trong phân trang */
    .pagination-wrap ul li a {
        display: inline-block;
        padding: 12px 18px;
        border-radius: 25px;
        transition: color 0.4s ease, background-color 0.4s ease, transform 0.4s ease, box-shadow 0.4s ease;
        color: #333;
        font-weight: bold;
        text-decoration: none;
    }

        .pagination-wrap ul li a:hover {
            color: #000; /* Đổi màu chữ khi hover */
            background-color: #fcf000; /* Thay đổi màu nền khi hover */
            transform: translateY(-5px); /* Di chuyển liên kết lên trên khi hover */
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); /* Thêm bóng mờ cho liên kết khi hover */
        }

        /* Hiệu ứng hover cho các liên kết phân trang hiện tại */
        .pagination-wrap ul li a.active {
            color: #fff; /* Đổi màu chữ khi là liên kết hiện tại */
            background-color: #315a7e; /* Thay đổi màu nền khi là liên kết hiện tại */
        }

</style>



<!-- Bắt Đầu Carousel -->
<div class="container-fluid carousel px-0 mb-5 pb-5">
    <div id="carouselId" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#carouselId" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide đầu tiên"></li>
            <li data-bs-target="#carouselId" data-bs-slide-to="1" aria-label="Slide thứ hai"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <img src="img/layout1.jpg" style="height: 550px;" class="img-fluid w-100" alt="Slide đầu tiên">
                <div class="carousel-caption">
                    <div class="container carousel-content">
                        <h4 class="text-white mb-4 animated slideInDown">Dịch Vụ Bán Hàng Nike</h4>
                        <h1 class="text-white display-1 mb-4 animated slideInDown">Hãy Thoải Mái Tận Hưởng Dịch Vụ </h1>
                        <a href="" class="me-2"><button type="button" class="px-5 py-3 btn btn-primary border-2 rounded-pill animated slideInDown">Đọc Thêm</button></a>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="img/layout2.jpg" style="height: 550px;" class="img-fluid w-100" alt="Slide thứ hai">
                <div class="carousel-caption">
                    <div class="container carousel-content">
                        <h4 class="text-white mb-4 animated slideInDown">Sản Phẩm Phong Phú Đa Dạng</h4>
                        <h1 class="text-white display-1 mb-4 animated slideInDown">Bán Hàng Chính Hãng Mới Nhất</h1>
                        <a href="" class="me-2"><button type="button" class="px-5 py-3 btn btn-primary border-2 rounded-pill animated slideInDown">Đọc Thêm</button></a>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev btn btn-primary border border-2 border-start-0 border-primary" type="button" data-bs-target="#carouselId" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Trước</span>
        </button>
        <button class="carousel-control-next btn btn-primary border border-2 border-end-0 border-primary" type="button" data-bs-target="#carouselId" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Tiếp theo</span>
        </button>
    </div>
</div>
<!-- Kết Thúc Carousel -->


<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="text-center mb-5 wow fadeInUp" data-wow-delay=".3s">
            <h1 style="font-size: 50px;" class="mb-2 px-3 py-1 text-dark rounded-pill d-inline-block border border-2 border-primary">Sản phẩm</h1>
            <h5 class="display-5 w-50 mx-auto">Với thiết kế sang trọng</h5>



        </div>


        <br />
        <div class="row g-5">
            @if (!Model.Any())
            {
                <div class="col-12 text-center">
                    <div class="no-products">
                        <img src="~/media/NoProducts.png" alt="No Products" class="no-products-image">
                        <p class="no-products-text">Không có sản phẩm nào</p>
                    </div>
                </div>
            }
            else
            {
                @foreach (var item in Model)
                {
                    var hinhAnhDauTien = item.HINH_ANH?.FirstOrDefault()?.TEN_HINH_ANH;
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="rounded bg-light pricing-item">
                            <div class="bg-primary py-3 px-5 text-center rounded-top border-bottom border-dark">
                                <h3>@item.TEN_SAN_PHAM</h3>
                            </div>
                            <div class="px-4 py-4 text-center bg-primary pricing-label mb-2">
                                <h3 class="product-price">@item.GIA_BAN.ToString("N0", culture).Replace(",", ".") VNĐ</h3>
                            </div>
                            <div class="p-4 text-center fs-5">
                                <div style="padding: 10px 0px;">
                                    <a asp-controller="CuaHang" asp-action="ChiTietSP" asp-route-id="@item.ID_SAN_PHAM">
                                        @if (!string.IsNullOrEmpty(hinhAnhDauTien))
                                        {
                                            <img src="~/media/SanPham/@hinhAnhDauTien" height="300px" width="90%" style="border-radius: 5px" alt="">
                                        }
                                        else
                                        {
                                            <img src="~/media/SanPham/default.jpg" height="300px" width="90%" style="border-radius: 5px" alt="No image available">
                                        }
                                    </a>
                                </div>

                                <a asp-controller="CuaHang" asp-action="ChiTietSP" asp-route-id="@item.ID_SAN_PHAM" class="cart-btn">
                                    <i class="fas fa-shopping-cart"></i> Thêm vào giỏ hàng
                                </a>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        
    </div>
</div>
